footer {
    display: flex;
    background-color: #D5D4D8;
    height: 64px;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footer-contain {
    display: flex;
    justify-content: space-around;
    margin:auto;
    width: 70%;
}